/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.logo img{
    display: flex;
    align-items: center;
    max-width: 61px;
    max-height: 19px;
    padding: 30px 50px 30px 0px;
}

.page{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
}

li a {
    padding-top: 36px;
}

li:hover a{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    font-family: Raleway;
}

header{
    padding-top: 36px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 18px;
    gap: 24px;
}

.search-bar{
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

#position-icon {
    width: 14px;
    height: 18px;
    padding: 14px 18px 15px 18px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 24px;
}

form {
    display: flex;
    width: 195px;
    height: 47px;
    text-align: center;
    margin-top: 24px;
}

#search-button {
    width: 132px;
    height: 49px;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    padding: 15px 16px 15px 16px;
}

.filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 710px;
    height: 50px;
    margin-top: 15px;
}

ul{
    display: flex;
    list-style: none;
}

li {
    position: relative;
    margin-right: 20px;
}

/* Centrage des icones pour les boutons */
li i{
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    
}

#economique {
    width: 173px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-weight: 700;
    font-style: Bold;
    font-size: 17px;
    padding-left: 30px;
}
#Familial{
    width: 134px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-weight: 700;
    font-style: Bold;
    font-size: 17px;
    padding-left: 30px;
}

#Romantique{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-weight: 700;
    font-style: Bold;
    font-size: 17px;
    padding-left: 30px;
}

#Nos_pépites{
    width: 167px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-weight: 700;
    font-style: Bold;
    font-size: 17px;
    padding-left: 30px;
}

#economique:hover, #Romantique:hover, #Nos_pépites:hover , #Familial:hover {
    background-color: #DEEBFF;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    max-width: 21px;
}

#info {
    position: absolute;
    display: flex;
    margin-top: 15px;
    width: 22px;
    height: 22px;
}

#info-text {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.activites {
    width: 100%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.activites-cards a {
    width: 23%;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-content {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.activites-cards .card-content {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards .card-rating {
    padding: 0 10px 10px 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}